.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  width: 30%;
  position: relative;
  background-color: white;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border-right: 1px solid lightgrey;
  background-color: #ededed;
}

.sidebar__headerLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 68%;
}

.sidebar__headerLeft h4 {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.sidebar__headerRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 120px;
}
